<component name="libraryTable">
  <library name="SpringLibrary">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../../../Installations/libraries/SpringLibrary" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../../../Installations/libraries/SpringLibrary" />
    </SOURCES>
    <jarDirectory url="file://$PROJECT_DIR$/../../../../Installations/libraries/SpringLibrary" recursive="false" />
    <jarDirectory url="file://$PROJECT_DIR$/../../../../Installations/libraries/SpringLibrary" recursive="false" type="SOURCES" />
  </library>
</component>